<div class = "contacts">
  <h1 class="number-of-contacts">There are <%= Contact.all.length %> contacts</h1>

  <ul>

        <% Contact.all.each do |contact| %>
          <div class ="all-info">
            <li class="listed-contact"><%= contact.first_name %> <%= contact.last_name %> : <%=contact.note%></li>
            <span class ="edit-delete"> Edit </span><span class="edit-delete">Delete</span></div>
        <% end %>
  </ul>
</div>
